@model TurkcellPasajApp.MVC.ViewModels.ShowProductsViewModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Anasayfa";
}
<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>

</head>
<body>
   
    @Html.Partial("_ShowProductsPartialView",Model)
</body>
</html>
